/* .rating-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  .rating-item {
    display: flex;
    align-items: center;
  }
  
  .rating-label {
    margin-right: 0.5rem;
  }
  
  .rating-input {
    width: 3rem;
  } */


  /* .rating-container {
    display: flex;
    gap: 1rem;
  }
  
  .column {
    flex: 1;
  }
  
  .rating-item {
    display: flex;
    align-items: center;
  }
  
  .rating-label {
    margin-right: 0.5rem;
  }
  
  .rating-input {
    width: 3rem;
  } */