<div>
  <button class="showside" (click)="toggleside()">click</button>
</div>
@if(sidebar()){
<div class="side">
  <div class="sidebar">
    <button routerLink="dashboard" (click)="clicking()">Dashboard</button>
    @if(admin){
    <button routerLink="pages" (click)="clicking()">Employees</button>
    } @else {
    <button routerLink="pages" (click)="clicking()">Tasks</button>
    <button routerLink="response" (click)="clicking()">Response</button>
    }
    <button routerLink="profile" (click)="clicking()">Profile</button>
  </div>
</div>
}
