/* project-card.component.css */

.card {
    border-radius: 8px;
    padding: 20px;
  }
  
  .card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .card-body > div {
    margin: 0 10px;
  }
  
  p {
    margin: 0.3rem 0;
  }
  
  .btn-outline-success, .btn-outline-danger {
    font-weight: 600;
  }
  
  .btn {
    width: 80px;
  }
  